{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'challenges/styles.css' %}">
    <link rel='stylesheet' href="{% static 'challenges/snippets/navbar.css' %}">
{% endblock  %}

{% block page_title %}Home{% endblock %}
    
{% block page_body %}
    {% include 'challenges/snippets/navbar.html' with current_page='All Challenges'%}
    <ul>
        {% for month in months%}
            <li>
                <a href="{% url 'monthly-challenge' month %}">{{month|title}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}   
